page-home {

    .pizzaPicture{

        width: 30vh;
        height: 30vh;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }

    .pizzaCard{
        width: 50vh;
        height: 80vh;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }

}
